main {
  display: flex;
  justify-content: center;
}

.features {
  align-items: flex-start;
  color: #000;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding: 0 1rem 0 0;
  width: 100%;
}

.featureContainer {
  background-color: #ffffff80;
  border: 1px solid #0000001f;
  border-radius: 1rem;
  height: 370px;
  max-width: 224px;
  min-width: 272px;
}

.featureImg {
  height: 200px;
  margin-top: 1rem;
  width: 200px;
}

@media (min-width: 861px) and (max-width: 1279px) {
  .features {
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 750px;
  }
  .featureContainer {
    max-width: 350px;
  }
}

@media screen and (max-width: 860px) {
  .features {
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    max-width: 500px;
  }
  .featureContainer {
    max-width: 350px;
  }
}
